**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
.DS_Store
**/.env
**/.env.*  # e.g., .env.local, .env.production
jsgrades/.next/
jsgrades/out/
jsgrades/**/*.tsbuildinfo
.vercel/
.netlify/
**/coverage/
**/.nyc_output/
.vscode/
.idea/
Thumbs.db
ehthumbs.db
jsgrades/.env*
*.iml
jsgrades/test-results.json
